body {
  background-color: gray;
}

nav {
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card:hover {
  box-shadow: 0px 0px 15px 5px lightgray;
}

img.persona {
  width:70%;
  margin: 10px;
  
}

.storyboard {
  width:80%;
  margin: 10px;
  border: 1px solid gray;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ui-screens-wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25%;
}
