<!-- A template which extends from base.html and contains the elements used on the courses/dashboard page. -->

<!-- NOTE: Look here if more details needed: https://flask.palletsprojects.com/en/2.0.x/patterns/templateinheritance/ -->

{% extends "base.html" %}

{% block content %}
    <div class="col-lg-2">
        <div class="sidebar">
            <!-- NOTE: Define links to individual pages here. -->
            <a class="active" href="#home">Courses</a>
            <a href="#">Progress Dashboard</a>
            </div>
    </div>
    {% block course_content %}
    {% endblock course_content %}
{% endblock content %}