

{% extends "course_base.html" %}

{% block course_content %}


<div class="row">
    <div class="col-lg-8 offset-lg-3">
            <div class="courses-list p-5">

                {%for i in range(0, 4)%}
                    <div class="course-card bg-light mb-2">
                        <div class="course-card-number lead pt-5">
                            {{ i }}
                        </div>
                    </div>
                {%endfor%}

            </div>
    </div>
</div>

{% endblock course_content %}
