

{% extends "base.html" %}

{% block content %}

<div class="row p-2">
    <div class="col-lg-6 offset-lg-3 text-center mt-3" height="70vh">
        <p class="lead">
            Welcome to RISE ABOVE! The goal of this website is to help people with epilepsy get access to life-changing
            educational content from professional epilepsy physicians.
        </p>
        <iframe width="100%" height="300" src="https://www.youtube.com/embed/E3gS9tjACwU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>(This should obviously be replaced with the intro. video, I just don't have access. -BR)</p>
        <a href="{{ url_for('rating') }}" class="btn btn-lg btn-outline-dark mt-5 shadow">GET STARTED</a>
    </div>
</div>

{% endblock content %}