{% extends 'base.html' %}

{% block content %}
<div class="row account-page-body">
  <div class="col-lg-6 offset-lg-3">
    <div class="card mt-5">
      <div class="card-header">
        Login
      </div>
      <div class="card-body mt-3 mb-3 p-3 mx-auto">

        <!-- NOTE: Example form from Booststrap 5 documentation -->
        <form method="POST" action="{{ url_for('login') }}" >
          {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning">
                    {{ messages[0] }}
                </div>
            {% endif %}
          {% endwith %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" name="remember" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember</label>
          </div>

          <!-- NOTE: Switch these around when form actually works, submits a POST request -->
          <button type="submit" class="btn btn-primary" >Submit</button>
          <!-- <a class="btn btn-primary" href="{{ url_for('courses') }}" >Submit</a> -->
        </form>

      </div>

      <div class="card-footer text-muted">
        <span>Don't have an account yet? Please <a href="{{ url_for('signup') }}" class="link-secondary">sign up</a>.</span> 

      </div>

    </div>
  </div>

</div>
{% endblock content %}