{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center mt-4">
            <form method="POST" action="{{ url_for('rating') }}">
                <div class="slidecontainer">
                    <p>How stressed do you feel lately (1-10)?</p>
                    <input id="slider1" type="range" min="0" max="10" value="5" class="slider" name="stress_rating">
                    <p id="demo1"></p>
                    <br>
                    <p>How content are you with the way your life if going (1-10)?</p>
                    <input id="slider2" type="range" min="0" max="10" value="5" class="slider" name="positive_thinking_rating">
                    <p id="demo2"></p>
                    <br>
                    <p>How highly do other people perceive of you (1-10)?</p>
                    <input id="slider3" type="range" min="0" max="10" value="5" class="slider" name="recognize_stigma_rating">
                    <p id="demo3"></p>
                    <br>
                    <p>How well can you solve problems?</p>
                    <input id="slider4" type="range" min="0" max="10" value="5" class="slider" name="problem_solving_rating">
                    <p id="demo4"></p>

                    <br>

                    <button type="submit" class="btn btn-lg btn-outline-dark mt-5 shadow" >Submit</button>
                </div>
            </form>
        </div>
    </div>


    <script>
        // NOTE: Link to sending a POST request from Javascript: https://api.jquery.com/jquery.post/
        var slider1 = document.getElementById("slider1");
        var output1 = document.getElementById("demo1");

        var slider2 = document.getElementById("slider2");
        var output2 = document.getElementById("demo2");

        var slider3 = document.getElementById("slider3");
        var output3 = document.getElementById("demo3");

        var slider4 = document.getElementById("slider4");
        var output4 = document.getElementById("demo4");

        // Display the default slider value
        output1.innerHTML = slider1.value; 
        output2.innerHTML = slider2.value;
        output3.innerHTML = slider3.value;
        output4.innerHTML = slider4.value;

        // Update the current slider value (each time you drag the slider handle)
        slider1.oninput = function() {
            output1.innerHTML = this.value;
        }

        slider2.oninput = function() {
            output2.innerHTML = this.value;
        }

        slider3.oninput = function() {
            output3.innerHTML = this.value;
        }

        slider4.oninput = function() {
            output4.innerHTML = this.value;
        }
    </script>

{% endblock content %}