{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center mt-4">
            <div class="slidecontainer">
                <p>Slider 1:</p>
                <input id="slider1" type="range" min="0" max="10" value="5" class="slider">
                <p id="demo1"></p>
                <br>
                <p>Slider 2:</p>
                <input id="slider2" type="range" min="0" max="10" value="5" class="slider">
                <p id="demo2"></p>
                <br>
                <p>Slider 3:</p>
                <input id="slider3" type="range" min="0" max="10" value="5" class="slider">
                <p id="demo3"></p>
                <br>
                <p>Slider 4:</p>
                <input id="slider4" type="range" min="0" max="10" value="5" class="slider">
                <p id="demo4"></p>

                <br>
                <a href="{{ url_for('course_list') }}" class="btn btn-lg btn-outline-dark mt-5 shadow">CONTINUE</a>

            </div>
        </div>
    </div>


    <script>
        // NOTE: Link to sending a POST request from Javascript: https://api.jquery.com/jquery.post/
        var slider1 = document.getElementById("slider1");
        var output1 = document.getElementById("demo1");

        var slider2 = document.getElementById("slider2");
        var output2 = document.getElementById("demo2");

        var slider3 = document.getElementById("slider3");
        var output3 = document.getElementById("demo3");

        var slider4 = document.getElementById("slider4");
        var output4 = document.getElementById("demo4");

        // Display the default slider value
        output1.innerHTML = slider1.value; 
        output2.innerHTML = slider2.value;
        output3.innerHTML = slider3.value;
        output4.innerHTML = slider4.value;

        // Update the current slider value (each time you drag the slider handle)
        slider1.oninput = function() {
            output1.innerHTML = this.value;
        }

        slider2.oninput = function() {
            output2.innerHTML = this.value;
        }

        slider3.oninput = function() {
            output3.innerHTML = this.value;
        }

        slider4.oninput = function() {
            output4.innerHTML = this.value;
        }
    </script>

{% endblock content %}